In [75]:
# Dependencies
import pandas as pd
from bs4 import BeautifulSoup
import pandas as pd
import requests
import os
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist

In [76]:
##### NASA Mars News #####
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [77]:
!which chromedriver

/anaconda3/envs/PythonData/bin/chromedriver

In [78]:
executable_path = {'executable_path': '/anaconda3/envs/PythonData/bin/chromedriver'}

browser = Browser('chrome', **executable_path, headless=False)

In [79]:
browser.visit(url)

In [80]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [81]:
x = soup.find_all('div', class_='rollover_description_inner')

# Reference: .find() pulls first element in tree
# https://stackoverflow.com/questions/38318926/finding-first-tag-in-html-file-with-beautifulsoup

In [82]:
news_title = soup.find('div', class_='content_title').text
news_title

"Things Are Stacking up for NASA's Mars 2020 Spacecraft"

In [83]:
news_p = soup.find('div', class_='article_teaser_body').text
news_p

'As the July 2020 launch date inches closer, the next spacecraft headed to the Red Planet is assembled for more testing.'

In [84]:
date = soup.find('div', class_='list_date').text
date

'April 18, 2019'

In [85]:
##### JPL Mars Space Images - Featured Image #####
url_2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [86]:
browser.visit(url_2)

In [87]:
html2 = browser.html
soup2 = BeautifulSoup(html2, 'html.parser')

In [88]:
featured_image = soup2.find_all('a', class_='fancybox')[0].get('data-fancybox-href')
featured_image

'/spaceimages/images/mediumsize/PIA17550_ip.jpg'

In [89]:
base_jpl_url = 'https://www.jpl.nasa.gov'
featured_image_url = base_jpl_url + featured_image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17550_ip.jpg'

In [90]:
##### Mars Weather #####
url_3 = 'https://twitter.com/marswxreport?lang=en'

In [91]:
browser.visit(url_3)

In [92]:
html3 = browser.html
soup3 = BeautifulSoup(html3, 'html.parser')

In [93]:
mars_weather = soup3.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
mars_weather = mars_weather.replace('\n', ' ')
mars_weather

'InSight sol 138 (2019-04-17) low -97.7ºC (-143.9ºF) high -17.3ºC (0.9ºF) winds from the W at 4.3 m/s (9.5 mph) gusting to 12.6 m/s (28.1 mph) pressure at 7.30 hPapic.twitter.com/ofMyPZM2vS'

In [94]:
mars_weather_clean = mars_weather.split("pic")
mars_weather_clean

['InSight sol 138 (2019-04-17) low -97.7ºC (-143.9ºF) high -17.3ºC (0.9ºF) winds from the W at 4.3 m/s (9.5 mph) gusting to 12.6 m/s (28.1 mph) pressure at 7.30 hPa',
 '.twitter.com/ofMyPZM2vS']

In [95]:
clean_mars_weather = mars_weather_clean[0]
clean_mars_weather

'InSight sol 138 (2019-04-17) low -97.7ºC (-143.9ºF) high -17.3ºC (0.9ºF) winds from the W at 4.3 m/s (9.5 mph) gusting to 12.6 m/s (28.1 mph) pressure at 7.30 hPa'

In [96]:
##### Mars Facts #####
url_4 = 'https://space-facts.com/mars/'

In [97]:
browser.visit(url_4)

In [98]:
html4 = browser.html
soup4 = BeautifulSoup(html4, 'html.parser')

In [99]:
mars_table = pd.read_html(url_4)
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [100]:
mars_table_df = mars_table[0]
mars_table_df.columns = ['Metric', 'Measurement']
mars_table_df.set_index('Metric')

                                        Measurement
Metric
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [101]:
mars_html_table = mars_table_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Metric</th>\n      <th>Measurement</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [102]:
mars_html_table = mars_html_table.replace('\n', '')
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Metric</th>      <th>Measurement</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [103]:
##### Mars Hemispheres #####
url_5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [104]:
browser.visit(url_5)

In [105]:
html5 = browser.html
soup5 = BeautifulSoup(html5, 'html.parser')

In [106]:
base_hemis_url = 'https://astrogeology.usgs.gov'

In [107]:
hemis_links = []
unique_hemis_links = []
img_urls = []
titles = []

for x in range(8):
    link = soup5.find_all('a', class_='itemLink product-item')[x].get('href')
    hemis_links.append(base_hemis_url + link)

for i in hemis_links:
    if i not in unique_hemis_links:
        unique_hemis_links.append(i)

unique_hemis_links

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [108]:
for c in range(4):
    title = soup5.find_all('h3')[c].text
    title = title.replace(' Enhanced', '')
    titles.append(title)

titles

['Cerberus Hemisphere',
 'Schiaparelli Hemisphere',
 'Syrtis Major Hemisphere',
 'Valles Marineris Hemisphere']

In [109]:
for unique_hemis_link in unique_hemis_links:
    browser.visit(unique_hemis_link)
    hemi_html = browser.html
    hemi_soup = BeautifulSoup(hemi_html, 'html.parser')
    hemi_url = hemi_soup.find('img', class_="wide-image").get('src')
    img_urls.append(base_hemis_url + hemi_url)

img_urls

['https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg']

In [110]:
hemisphere_image_urls = []

for y in range(4):
    hemisphere_image_urls.append({"title": titles[y], "img_url": img_urls[y]})
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [111]:
browser.quit()